In [0]:
import pandas as pd

#ReadingData

In [0]:
df = pd.read_csv('corona.csv')

In [5]:
df.head(10)

        fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0  100.434943         1   29          0          -1              0
1  101.774785         1   70          0          -1              1
2  101.330944         1   53          0           0              1
3   98.959895         1  100          0          -1              0
4   98.433950         0   28          0          -1              0
5   98.408490         1   52          1          -1              0
6  101.777565         0   47          1           1              1
7   98.976320         0   68          1           1              1
8  101.932186         0   53          1          -1              1
9   98.636002         1   77          0          -1              0

In [6]:
df.tail()

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
2538  100.351960         1   60          0          -1              0
2539  101.471503         1   63          1           0              0
2540  100.347141         0   10          1           1              0
2541  100.627456         1   92          0           0              0
2542   99.481082         0   53          0          -1              0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2543 entries, 0 to 2542
Data columns (total 6 columns):
fever            2543 non-null float64
bodyPain         2543 non-null int64
age              2543 non-null int64
runnyNose        2543 non-null int64
diffBreath       2543 non-null int64
infectionProb    2543 non-null int64
dtypes: float64(1), int64(5)
memory usage: 119.3 KB

In [8]:
df['diffBreath'].value_counts()

 0    897
-1    851
 1    795
Name: diffBreath, dtype: int64

In [9]:
df.describe()

             fever     bodyPain  ...   diffBreath  infectionProb
count  2543.000000  2543.000000  ...  2543.000000    2543.000000
mean     99.990058     0.498624  ...    -0.022021       0.494298
std       1.148171     0.500096  ...     0.804386       0.500066
min      98.000970     0.000000  ...    -1.000000       0.000000
25%      98.988749     0.000000  ...    -1.000000       0.000000
50%      99.987050     0.000000  ...     0.000000       0.000000
75%     100.990792     1.000000  ...     1.000000       1.000000
max     101.998238     1.000000  ...     1.000000       1.000000

[8 rows x 6 columns]

#Train & Test Splitting

In [0]:
import numpy as np

In [0]:
def data_split(data,ratio):
  np.random.seed(42)
  shuffled = np.random.permutation(len(data))
  test_set_size = int(len(data)*ratio)
  test_indices = shuffled[:test_set_size]
  train_indices = shuffled[test_set_size:]
  return data.iloc[train_indices], data.iloc[test_indices]

In [14]:
np.random.permutation(7)

array([5, 6, 4, 2, 1, 3, 0])

In [0]:
train,test = data_split(df,0.2)

In [16]:
train

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
1207  100.932150         1   81          1           1              1
350    98.235296         1   48          1           1              1
2330   98.952400         0    1          0           1              0
2218  101.327839         1    5          0           0              1
1655  100.785070         0   99          1           1              0
...          ...       ...  ...        ...         ...            ...
1638   98.195154         0   80          1          -1              1
1095   99.594376         1   21          1          -1              0
1130   98.119543         1   44          1           0              0
1294  100.867626         1   75          1           0              0
860    98.546993         1   30          0          -1              0

[2035 rows x 6 columns]

In [17]:
test

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
1642   98.778174         1   86          1           1              1
727   100.140367         1   98          1           0              1
498    98.187597         1   11          0           1              0
1463  101.125489         0   99          1           1              0
564    99.907417         0   40          1          -1              1
...          ...       ...  ...        ...         ...            ...
70     99.881228         0   34          1           0              0
2381   98.153104         0   19          0          -1              0
567    98.347613         1   66          1           1              0
621   101.334782         1   44          1           1              0
73     98.852915         1   24          0           0              1

[508 rows x 6 columns]

In [0]:
x_train = train[['fever', 'bodyPain', 'age', 'runnyNose', 'diffBreath']].to_numpy()
x_test = test[['fever', 'bodyPain', 'age', 'runnyNose', 'diffBreath']].to_numpy()

In [0]:
y_train = train[['infectionProb']].to_numpy().reshape(2035,)
y_test = test[['infectionProb']].to_numpy().reshape(508 ,)

In [30]:
y_train

array([1, 1, 0, ..., 0, 0, 0])

In [0]:
from sklearn.linear_model import LogisticRegression

In [32]:
clf = LogisticRegression()
clf.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [0]:
inputFeature =[104,1,68,-1,1]
infProb = clf.predict_proba([inputFeature])[0][1]

In [43]:
infProb

0.48913008150304166